html,
body {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-primary);
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-secondary);
	color: var(--color-primary-darkest);
	line-height: 1;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.small-caps-text {
	font-size: var(--font-size-s);
	text-transform: uppercase;
	letter-spacing: 2px;
}

.button {
	padding: 16px 32px;
	border: none;
	border-radius: 8px;
	box-shadow: 8px 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: all 0.2s;
	cursor: pointer;
	background-color: var(--color-secondary);
	color: var(--color-white);
	letter-spacing: 0.5px;
	text-decoration: none;
}

.button.secondary {
	background-color: var(--color-primary-dark);
}

.button:hover {
	background-color: var(--color-secondary-dark);
	box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.2);
	transform: translateY(-2px);
}

.button.secondary:hover {
	background-color: var(--color-primary-darkest);
}
