.modalBackground {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.75);
	z-index: 1;
	animation: fadeIn 0.25s ease-in-out;
}

.modal {
	background-color: var(--color-white);
	max-width: 90%;
	padding: 32px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 16px;
	overflow: auto;
	z-index: 1;
	animation: fadeIn 0.25s ease-in-out;
}

@media (min-width: 48rem) {
	.modal {
		padding: 48px;
	}
}

.closeBtn {
	color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 16px;
	right: 16px;
	padding: 6px;
	z-index: 2;
	border-radius: 50%;
	background: transparent;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	border: none;
	outline: 2px solid transparent;
}

.closeBtn:hover,
.closeBtn:focus {
	color: #000;
	outline: 2px solid #000;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
