.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 16px;
	gap: var(--spacing-s);
	color: white;
	text-align: center;
	background-color: rgb(57, 57, 57);
	background-image: url("/images/markus-dark.png");
	background-size: cover;
	background-position: bottom;
}

.main h1 {
	text-align: center;
	font-size: var(--font-size-xl);
	margin-bottom: var(--spacing-m);
	color: white;
}

.main h2 {
	width: 100%;
}

.landingPage {
	padding: 20px;
	align-items: center;
	background-color: black;
	border-radius: 4px;
	max-width: 500px;
}

.emphasizedText {
	color: var(--color-primary);
}

.fileTitle {
	font-style: bold;
	margin-bottom: 30px;
	font-size: 20px;
}

.subText {
	font-style: italic;
	margin-top: 20px;
}

.spacer {
	margin-top: var(--spacing-l);
}

.privacyText {
	color: gray;
	font-size: var(--font-size-xs);
}

.privacyText a {
	color: gray;
}
