.hero {
	background-image: url("/images/DSCF0944.jpg");
	background-size: cover;
	background-position: right 30%;
	min-height: 90vh;
	width: 100%;
	padding: 16px;
	margin-bottom: var(--spacing-s);
	position: relative;
}

.logoContainer {
	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 10;
}

@media (min-width: 48rem) {
	.hero {
		padding: 32px;
		background-position: center 30%;
	}

	.logoContainer {
		top: 16px;
		left: 16px;
	}

	.heading {
		transform: translateX(32px);
	}

	.headingLine {
		padding: 12px 18px;
	}
}

@media (min-width: 64rem) {
	.hero {
		padding: 48px;
	}

	.logoContainer {
		top: 24px;
		left: 24px;
	}

	.heading {
		transform: translateX(48px);
	}

	.headingLine {
		padding: 16px 24px;
	}
}

.content {
	max-width: var(--max-width);
	margin: 0 auto;
	padding: 4rem 0 3rem 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
}

.heading {
	font-size: var(--font-size-xxl);
	font-weight: 700;
	color: var(--color-white);
	line-height: 1.4;
	margin-bottom: var(--spacing-m);
	width: fit-content;
	transform: translateX(16px);
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: flex-end;
}

.headingLine {
	background-color: hsla(0, 0%, 0%, 0.5);
	padding: 8px 12px;
	display: block;
	width: fit-content;
}

.subheading {
	font-weight: 300;
	color: var(--color-white);
	font-size: var(--font-size-m);
	width: fit-content;
	max-width: 40ch;
	margin-bottom: var(--spacing-m);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.details {
	margin-bottom: var(--spacing-m);
	display: flex;
	flex-direction: column;
	gap: var(--spacing-s);
}

.detail {
	font-weight: 300;
	color: var(--color-white);
	font-size: var(--font-size-base);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 47.9375rem) {
	.hero {
		min-height: 65vh;
	}

	.content {
		align-items: center;
		text-align: center;
		padding: 6rem 0 2rem 0;
		justify-content: center;
	}

	.heading {
		width: fit-content;
		font-size: var(--font-size-xl);
		transform: translateX(0);
		align-items: center;
	}

	.subheading {
		max-width: 100%;
	}

	.details {
		align-items: center;
	}
}
